server {
  listen 443 http2 ssl;
  listen [::]:443 http2 ssl;

  server_name {{ vhost }};

{% if use_letsencrypt is defined and use_letsencrypt %}
  ssl_certificate     /etc/letsencrypt/live/{{ vhost }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ vhost }}/privkey.pem;
{% else %}
  ssl_certificate     /etc/ssl/certs/ssl-cert-snakeoil.pem;
  ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;
{% endif %}

  client_max_body_size 8m;

  location / {
    include /etc/nginx/uwsgi_params;
    uwsgi_pass unix://run/uwsgi/reimbursements.socket;
  }
  location /static {
    alias /srv/reimbursements/static;
  }

  access_log /var/log/nginx/reimbursements-access.log;
  error_log /var/log/nginx/reimbursements-error.log;
}
