server {
  listen 80;
  listen [::]:80;

  server_name {{ vhost }};

  location / {
    return 302 https://{{ vhost }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    default_type "text/plain";
    root /var/spool/acme-challenge/;
  }
}
