{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_helper %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block page_title %}{% trans 'Confirm password reset' %}{% endblock %}

{% block content %}
{% if validlink %}
  <p>{% trans "Enter your new password below to reset your password:" %}</p>
  {% reimbursement_form_helper 'webui.forms.SetPasswordFormHelper' as form_helper %}
  {% crispy form form_helper %}
{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
{% endblock %}
